// Main Login Page Styles
.login-page {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/bg.webp'), $bg-color;
    background-size: cover;
    position: relative;
    overflow: hidden;

    // Login Form Container
    .login-form-container {
        height: 100vh;
        position: relative;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;

        &::before {
            background-color: white;
            position: absolute;
            content: "";
            width: 100%;
            height: 177%;
            left: -15%;
            top: -88px;
            border-radius: 134px;
            transform: rotate(332deg);
        }

        // Main Part of the Login Form
        .login-main-part {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            // Login Form Styles
            .login-form {
                width: 70%;

                .login-email {
                    margin-bottom: 30px;
                    text-align: start;
                }

                // Position Relative Wrapper
                .position-relative {
                    position: relative;

                    // Input Styles
                    .login-input {
                        border-radius: 30px;
                        padding: 11px 20px;
                        border: 1px solid $border-input;
                        box-shadow: $box-shadow-input;
                        outline: none;

                        &:active,
                        &:focus {
                            box-shadow: $box-shadow-input;
                        }
                    }

                    // Icon Background
                    .icon-background {
                        background-color: $icon-background;
                        padding: 8px 14px;
                        border-radius: 50%;
                        position: absolute;
                        top: 5px;
                        left: 7px;

                        .icon-login {
                            color: $icon-color;
                            font-size: 16px;
                        }
                    }
                }

                // Remember Me Section
                .login-remember {
                    margin: 20px 0;

                    .form-check-group {
                        .form-check-input-login {
                            width: 20px;
                            height: 20px;
                            border-radius: 5px;
                            border: transparent;
                            background-color: rgba(233, 233, 233, 1);
                            transition: all 0.3s ease;

                            &:checked {
                                background-image: url('../images/check-icon.png');
                                background-color: $icon-background;
                            }

                            &:focus,
                            &:active {
                                outline: none;
                                box-shadow: none;
                            }
                        }

                        .form-check-label {
                            color: #b4b4b4;
                            font-weight: 500;
                            margin-left: 10px;
                        }
                    }

                    .forgot-password {
                        text-decoration: none;
                        color: $text-color;
                        font-weight: 600;
                    }
                }

                // Buttons Section
                .btns-login {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .custom-btn {
                        margin-top: 20px;
                        width: 80%;
                        background: linear-gradient(to right, #619d64, #22b7a7);
                        color: white;
                        border: none;
                        border-radius: 2px;
                        padding: 10px 20px;
                        text-align: center;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        position: relative;

                        .arrow-icon {
                            font-size: 30px;
                            color: #588463;
                            margin-right: 10px;
                            position: absolute;
                            left: 10px;
                            top: 5px;
                        }

                        .text-butn {
                            font-size: 20px;

                            a {
                                text-decoration: none;
                                color: white;
                            }
                        }

                        &:hover {
                            background: linear-gradient(to right, #22b7a7, #619d64);
                        }
                    }

                    .activte-button {
                        width: 65%;

                        .arrow-icon {
                            font-size: 20px;
                            top: 15px;
                            left: 5px;
                        }
                    }

                    .enter-btn {
                        width: 30%;
                        margin-left: 10px;

                        .arrow-icon {
                            font-size: 18px;
                            top: 12px;
                            left: 2px;
                        }
                    }
                }
            }

            // Logo Image
            .logo-img {
                margin-bottom: 60px;
            }
        }
    }
}

// Footer Styles
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    width: 80%;
    text-align: center;

    .footer-text {
        color: $icon-color;
        margin: 0;
        font-weight: 700;
    }

    .img-footer-logo {
        margin-inline: 10px;
    }
}

// Responsive Styles
@media (max-width: 1200px) {
    .login-page {
        .login-form-container {
            &::before {
                display: none;
            }

            .login-main-part {
                .login-form {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 890px) {
    .login-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .login-form-container {
            height: 80vh;
            border-radius: 20px;
            width: 90%;
        }
    }
}

@media (max-width: 490px) {
    .login-page {
        .login-form-container {
            .login-main-part {
                .login-form {
                    .btns-login {
                        flex-direction: column;

                        .activte-button,
                        .enter-btn {
                            width: 100%;
                            margin-left: 0;
                        }

                        .custom-btn {
                            .arrow-icon {
                                font-size: 19px;
                                left: 0;
                                top: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
