<!-- Content Section -->
<div id="content" class=" mt-4">
  <!-- show part-->
  <div class="dashboard-container">
    <div class="filter-section ">
      <div class="row dashboard-container-search">

        <div class="col">
          <input type="text" class="filter-input form-control" placeholder="رقم الطلب" />
        </div>
        <div class="col-md-4">
          <input type="text" class="filter-input form-control" placeholder="اسم العميل" />
        </div>

        <div class="col dashboard-container-date">
          <input type="text" class="filter-input form-control" placeholder="تاريخ الإرسال" />
          <i class="fa-solid fa-calendar-days date-icon"></i>
        </div>
        <!-- Dropdown button -->
        <div class="col">
          <div class="dropdown">
            <button class=" dropdown-toggle filter-dropdwon form-control" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              <p> الحالة</p>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Option 1</a></li>
              <li><a class="dropdown-item" href="#">Option 2</a></li>
              <li><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </div>
        </div>

      </div>
      <button class="btn btn-primary custom-login-button">دخول</button>
    </div>
    <div class="cards-section">
      <div class="row cards-section-row">
        <!-- Card 1 -->
        <div class="card-item col-md-4 dynamic-card" data-id="1">
          <div class="card-header">
            <!-- Background color for span change depends on variable -->
            <span class="card-header-span status-red"></span>
            <span class="card-phone">5533355165</span>
            <span class="card-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">اسم المستقبل</h5>
            <p class="card-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما في
              الصفحة التي يقرأها
            </p>
            <div class="card-actions">
              <div class="card-icon card-icon-first">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="span-hover">4 روابط</span>
              </div>
              <div class="card-icon">
                <i class="fa-solid fa-upload"></i>
                <span class="span-hover">5 مرفقات</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card-item card-item-margin col-md-4 dynamic-card" data-id="2">
          <div class="card-header">
            <span class="card-header-span status-blue"></span>
            <span class="card-phone">5533355165</span>
            <span class="card-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">اسم المستقبل</h5>
            <p class="card-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما في
              الصفحة التي يقرأها
            </p>
            <div class="card-actions">
              <div class="card-icon card-icon-first">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="span-hover">4 روابط</span>
              </div>
              <div class="card-icon">
                <i class="fa-solid fa-upload"></i>
                <span class="span-hover">5 مرفقات</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card-item  card-item-margin col-md-4 dynamic-card" data-id="3">
          <div class="card-header">
            <span class="card-header-span status-green"></span>
            <span class="card-phone">5533355165</span>
            <span class="card-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">اسم المستقبل</h5>
            <p class="card-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما في
              الصفحة التي يقرأها
            </p>
            <div class="card-actions">
              <div class="card-icon card-icon-first">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="span-hover">4 روابط</span>
              </div>
              <div class="card-icon">
                <i class="fa-solid fa-upload"></i>
                <span class="span-hover">5 مرفقات</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row cards-section-row">
        <!-- Card 1 -->
        <div class="card-item col-md-4 dynamic-card" data-id="4">
          <div class="card-header">
            <!-- Background color for span change depends on variable -->
            <span class="card-header-span status-red"></span>
            <span class="card-phone">5533355165</span>
            <span class="card-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">اسم المستقبل</h5>
            <p class="card-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما في
              الصفحة التي يقرأها
            </p>
            <div class="card-actions">
              <div class="card-icon card-icon-first">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="span-hover">4 روابط</span>
              </div>
              <div class="card-icon">
                <i class="fa-solid fa-upload"></i>
                <span class="span-hover">5 مرفقات</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card-item card-item-margin col-md-4 dynamic-card" data-id="5">
          <div class="card-header">
            <span class="card-header-span status-blue"></span>
            <span class="card-phone">5533355165</span>
            <span class="card-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">اسم المستقبل</h5>
            <p class="card-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما في
              الصفحة التي يقرأها
            </p>
            <div class="card-actions">
              <div class="card-icon card-icon-first">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="span-hover">4 روابط</span>
              </div>
              <div class="card-icon">
                <i class="fa-solid fa-upload"></i>
                <span class="span-hover">5 مرفقات</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card-item  card-item-margin col-md-4 dynamic-card" data-id="6">
          <div class="card-header">
            <span class="card-header-span status-green"></span>
            <span class="card-phone">5533355165</span>
            <span class="card-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">اسم المستقبل</h5>
            <p class="card-text">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما في
              الصفحة التي يقرأها
            </p>
            <div class="card-actions">
              <div class="card-icon card-icon-first">
                <i class="fa-solid fa-share-from-square"></i>
                <span class="span-hover">4 روابط</span>
              </div>
              <div class="card-icon">
                <i class="fa-solid fa-upload"></i>
                <span class="span-hover">5 مرفقات</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-section">
        <div class="pagination-page">
          <p class="pagination-page-para">الصفحه</p>
          <span class="pagination-page-num">1</span>
          <p class="pagination-page-para">من 25</p>
          <span class="pagination-page-arrow-right">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="pagination-page-arrow-left">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
        </div>
        <div class="dropdown d-inline-block">
          <label for="itemsDropdown" class="form-label">العدد</label>
          <button class="btn btn-outline-secondary dropdown-toggle btn-count" type="button" id="itemsDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            10 عناصر
          </button>
          <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
            <li><a class="dropdown-item" href="#">5 عناصر</a></li>
            <li><a class="dropdown-item" href="#">10 عناصر</a></li>
            <li><a class="dropdown-item" href="#">15 عناصر</a></li>
            <li><a class="dropdown-item" href="#">20 عناصر</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  <!-- hidden part-->
  <div class="dashboard-container-hidden-part hidden container ">
    <div class="card card-main mt-3">
      <div class="card-header card-header-main">
        <span class="card-header-main-title">محمود ربيع محمد أحمد <span
            class="card-header-main-title-id">(2345678)</span></span>
        <span class="card-header-main-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
      </div>
      <div class="card-body card-body-main row">
        <div class="col-md-6 card-body-main-explaine">
          <div class="card-body-main-explaine-item">
            <h5 class="title"> موضوع المراسله</h5>
            <p class="para">
              هناك حقيقة مثبته منذ زمن طويل وهي أن المحتوى المفروض
            </p>
          </div>
          <div class="card-body-main-explaine-item">
            <h5 class="title"> الشرح</h5>
            <p class="para">
              مشتمل العديد من التوزيع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما عليك إلا أن تحقق أولاً أن
              ليس هناك أي كلمات أو عبارات مخفية غير لائقة قد تشوه كل هذا النص. لوريم إيبسوم يجعل جميع مكونات نصوص لوريم
              إيبسوم على الإنترنت تأتي على شكل تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم
              مولدنا هذا باستخدام كلمات مثل "هناك حقيقة مثبته منذ زمن طويل وهي أن المحتوى المفروض، لن يشوه لوريم إيبسوم"
              أو كلمات غير لائقة أو ما شابه. وبالي يكون النص الناتج خال من التكرار أو أي كلمات أو كلمات غير لائقة أو ما
              شابه، وهذا ما يجعله أول مولد نص حقيقي على الإنترنت.
            </p>
          </div>

        </div>
        <div class="col-md-6">
          <ul class="nav nav-tabs nav-tabs-main" id="myTab" role="tablist">
            <li class="nav-item nav-item-main" role="presentation">
              <button class="nav-link nav-link-main active" id="marafaqat-tab" data-bs-toggle="tab" data-bs-target="#marafaqat"
                type="button" role="tab" aria-controls="marafaqat" aria-selected="false">المرفقات والروابط</button>
            </li>
            <!-- change count of مراسلات  id="count-nav-link-main"-->
            <li class="nav-item nav-item-main" role="presentation">
              <button class="nav-link nav-link-main " id="morsalat-tab" data-bs-toggle="tab"
                data-bs-target="#morsalat" type="button" role="tab" aria-controls="morsalat"
                
                aria-selected="true">المرسلات<span class="nav-link-main-span" id="count-nav-link-main">0</span</button>
            </li>
          </ul>
          <div class="tab-content tab-content-main" id="myTabContent">
            <div class="tab-pane tab-pane-main fade show active" id="marafaqat" role="tabpanel"
              aria-labelledby="marafaqat-tab">
              <!-- Content for the "المرفقات والروابط" tab -->
               <div class="tab-pane-part">
              <div class="list-group-main">
                  <span class="list-group-item-img">
                    <i class="fa-solid fa-file-pdf"></i>
                  </span>
                  <div class="list-group-item list-group-item-main ">
                <div class="item-name item-name-main">اسم المرفق</div>
                <div class="item-type ">نوع المرفق</div>
                </div>
              </div>
              <div class="list-group-main-icon">
              <img src="../assets/images/icon.png"/>
                <span class="span-hover">
                  <p>التاريخ :1/1/2000
                  </p>
                  <p>الشرح:الشرح يوضع هنا</p>
                </span>
              </div>
              </div>
              <div class="tab-pane-part">
                <div class="list-group-main">
                    <span class="list-group-item-img">
                      <i class="fa-solid fa-file-pdf"></i>
                    </span>
                    <div class="list-group-item list-group-item-main ">
                  <div class="item-name item-name-main">اسم المرفق</div>
                  <div class="item-type ">نوع المرفق</div>
                  </div>
                </div>
                <div class="list-group-main-icon">
                <img src="../assets/images/icon.png"/>
                  <span class="span-hover">
                    <p>التاريخ :1/1/2000
                    </p>
                    <p>الشرح:الشرح يوضع هنا</p>
                  </span>
                </div>
                </div>
                <div class="tab-pane-part">
                  <div class="list-group-main">
                      <span class="list-group-item-img">
                        <i class="fa-solid fa-file-pdf"></i>
                      </span>
                      <div class="list-group-item list-group-item-main ">
                    <div class="item-name item-name-main">اسم المرفق</div>
                    <div class="item-type ">نوع المرفق</div>
                    </div>
                  </div>
                  <div class="list-group-main-icon">
                  <img src="../assets/images/icon.png"/>
                    <span class="span-hover">
                      <p>التاريخ :1/1/2000
                      </p>
                      <p>الشرح:الشرح يوضع هنا</p>
                    </span>
                  </div>
                  </div>
                  <div class="tab-pane-part">
                    <div class="list-group-main">
                        <span class="list-group-item-img">
                          <i class="fa-solid fa-file-pdf"></i>
                        </span>
                        <div class="list-group-item list-group-item-main ">
                      <div class="item-name item-name-main">اسم المرفق</div>
                      <div class="item-type ">نوع المرفق</div>
                      </div>
                    </div>
                    <div class="list-group-main-icon">
                    <img src="../assets/images/icon.png"/>
                      <span class="span-hover">
                        <p>التاريخ :1/1/2000
                        </p>
                        <p>الشرح:الشرح يوضع هنا</p>
                      </span>
                    </div>
                    </div>
                    <div class="tab-pane-part">
                      <div class="list-group-main">
                          <span class="list-group-item-img">
                            <i class="fa-solid fa-file-pdf"></i>
                          </span>
                          <div class="list-group-item list-group-item-main ">
                        <div class="item-name item-name-main">عنوان الرابط</div>
                        <div class="item-type ">http://127.0.0.1:5500/layout/index.html</div>
                        </div>
                      </div>
                      <div class="list-group-main-icon">
                      <img src="../assets/images/icon.png"/>
                        <span class="span-hover">
                          <p>التاريخ :1/1/2000
                          </p>
                          <p>الشرح:الشرح يوضع هنا</p>
                        </span>
                      </div>
                      </div>
                      <div class="tab-pane-part">
                        <div class="list-group-main">
                            <span class="list-group-item-img">
                              <i class="fa-solid fa-file-pdf"></i>
                            </span>
                            <div class="list-group-item list-group-item-main ">
                          <div class="item-name item-name-main">عنوان الرابط</div>
                          <div class="item-type ">http://127.0.0.1:5500/layout/index.html</div>
                          </div>
                        </div>
                        <div class="list-group-main-icon">
                        <img src="../assets/images/icon.png"/>
                          <span class="span-hover">
                            <p>التاريخ :1/1/2000
                            </p>
                            <p>الشرح:الشرح يوضع هنا</p>
                          </span>
                        </div>
                        </div>
                        <div class="tab-pane-part">
                          <div class="list-group-main">
                              <span class="list-group-item-img">
                                <i class="fa-solid fa-file-pdf"></i>
                              </span>
                              <div class="list-group-item list-group-item-main ">
                            <div class="item-name item-name-main">عنوان الرابط</div>
                            <div class="item-type ">http://127.0.0.1:5500/layout/index.html</div>
                            </div>
                          </div>
                          <div class="list-group-main-icon">
                          <img src="../assets/images/icon.png"/>
                            <span class="span-hover">
                              <p>التاريخ :1/1/2000
                              </p>
                              <p>الشرح:الشرح يوضع هنا</p>
                            </span>
                          </div>
                          </div>
                          <div class="tab-pane-part">
                            <div class="list-group-main">
                                <span class="list-group-item-img">
                                  <i class="fa-solid fa-file-pdf"></i>
                                </span>
                                <div class="list-group-item list-group-item-main ">
                              <div class="item-name item-name-main">عنوان الرابط</div>
                              <div class="item-type ">http://127.0.0.1:5500/layout/index.html</div>
                              </div>
                            </div>
                            <div class="list-group-main-icon">
                            <img src="../assets/images/icon.png"/>
                              <span class="span-hover">
                                <p>التاريخ :1/1/2000
                                </p>
                                <p>الشرح:الشرح يوضع هنا</p>
                              </span>
                            </div>
                            </div>
            </div>
            <div class="tab-pane tab-pane-main fade" id="morsalat" role="tabpanel" aria-labelledby="morsalat-tab">
              <!-- Content for the "المرسلات" tab -->
              <div class="message-content message-content-main">
                <div class="message-body message-body-main">
                 <h6 class="message-body-main-header">اسم مرسل المراسله</h6>
                 <p class="message-body-main-para">
                  هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هنا ي 
                 </p>
                 <p class="message-body-main-para">
            هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هناي 
                 </p>
                 <p class="message-body-main-para">
                  هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هناك 
                 </p>
                 <div class="message-body-main-footer">
                  <span class="message-body-main-footer-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
                 </div>
                </div>
              </div>
              <div class="message-content message-content-main">
                <div class="message-body message-body-main">
                 <h6 class="message-body-main-header">اسم مرسل المراسله</h6>
                 <p class="message-body-main-para">
                  هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هنا ي 
                 </p>
                 <p class="message-body-main-para">
            هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هناي 
                 </p>
                 <p class="message-body-main-para">
                  هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هناك 
                 </p>
                 <div class="message-body-main-footer">
                  <span class="message-body-main-footer-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
                 </div>
                </div>
              </div>
              <div class="message-content message-content-main">
                <div class="message-body message-body-main">
                 <h6 class="message-body-main-header">اسم مرسل المراسله</h6>
                 <p class="message-body-main-para">
                  هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هنا ي 
                 </p>
                 <p class="message-body-main-para">
            هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هناي 
                 </p>
                 <p class="message-body-main-para">
                  هناك حقائق مثبتة من زمن طويل و هي ان  هناك حقائق مثبتة من زمن طويل و هي ان هناك 
                 </p>
                 <div class="message-body-main-footer">
                  <span class="message-body-main-footer-date"><i class="fa-solid fa-calendar-days"></i>36/03/3019</span>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="dashboard-container-hidden-part-btns">
    <button class="  reply-button-main">رد على المرسلات</button>
    <button class=" reply-button-main" id="back-btn">عوده</button>
  </div>
  </div>
</div>