// Define your base color variables
$bg-color: linear-gradient(355deg, rgb(27, 74, 68) 0%, rgb(15, 80, 85) 35%, rgb(8, 76, 81) 100%);
$border-input: #f6f6f6;
$box-shadow-input: 0 6px 20px rgba(0, 0, 0, 0.2);
$icon-color: #cacaca;
$icon-background: #f5f5f5;
$text-color: #33aeaa;
$header-background: linear-gradient(45deg, rgb(47, 69, 51) 0%, rgb(47, 69, 51) 55%, rgb(15, 80, 85) 100%);
$background-liner: linear-gradient(to right, #619d64, #22b7a7);
$span-background: #5a8462;
$text-gray: #909090;

$bg-color-light: lighten($bg-color, 10%);
$bg-color-dark: darken($bg-color, 10%);

$border-input-light: lighten($border-input, 10%);
$border-input-dark: darken($border-input, 10%);

$icon-color-light: lighten($icon-color, 10%);
$icon-color-dark: darken($icon-color, 10%);

$icon-background-light: lighten($icon-background, 10%);
$icon-background-dark: darken($icon-background, 10%);

$text-color-light: lighten($text-color, 10%);
$text-color-dark: darken($text-color, 10%);

$header-background-light: lighten($header-background, 10%);
$header-background-dark: darken($header-background, 10%);

$background-liner-light: lighten($background-liner, 10%);
$background-liner-dark: darken($background-liner, 10%);

$span-background-light: lighten($span-background, 10%);
$span-background-dark: darken($span-background, 10%);

$text-gray-light: lighten($text-gray, 10%);
$text-gray-dark: darken($text-gray, 10%);
