$bg-color: linear-gradient(355deg, rgb(27, 74, 68) 0%, rgb(15, 80, 85) 35%, rgb(8, 76, 81) 100%);
$border-input:#f6f6f6;
$box-shadow-input:   0 6px 20px rgba(0, 0, 0, 0.2);
$icon-color:#cacaca;
$icon-background:#f5f5f5;
$text-color:#33aeaa;
$header-background:linear-gradient(45deg, rgb(47, 69, 51) 0%, rgb(47, 69, 51) 55%, rgb(15, 80, 85) 100%);
$background-liner: linear-gradient(to right, #619d64, #22b7a7);
$span-background: #5a8462;
$text-gray:#909090;
$border-input:#f3f3f3
