@import 'variables';
@import 'mixins';
@import 'login/login';
@import 'layout/layout';
@import 'layout/location';
@import 'controller/controller';


body {
    font-family: 'Tajawal', sans-serif;
    background-image: url('../images/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
}
